.grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  padding: 10px;

  .span2 {
    grid-column: span 2;
  }

  .box {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    gap: 10px;

    .material-icons {
      font-size: 60px;
    }

    .mat-icon {
      height: 60px;
      width: 60px;
      color: #fff;
    }

    p {
      font-size: 19px;
      font-weight: 500;
      color: #fff;
    }

    &.secret {
      background: radial-gradient(100% 963.71% at 0% 9.68%, #812FF7 0%, #00E4E4 100%);
    }

    &.love {
      background: radial-gradient(100% 967.27% at 0% 0%, #F8164C 0%, #F95E9F 100%);
    }

    &.flames {
      background: linear-gradient(100.6deg, #381AF1 15.46%, #2E40E6 15.47%, #F819E1 99.75%);
    }

    &.dare {
      background:  linear-gradient(to right, #5614b0, #dbd65c);
    }
  }
} 