@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import '../styles/variables.scss';

// .background {
//   background:#f5f5f5;
//   .header {
//     height: 60px;
//     padding: 5px 15px;
//     h2 {
//       font-family: 'Potta One', cursive;
//     }
//     h2, mat-icon {
//       background: $gradient-primary;
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//     }
//     mat-icon {
//       font-size: 30px;
//       height: 30px;
//       width: 30px;
//     }

//   }

//   .rounded-box {
//     border-radius: 30px 30px 0 0 !important;
//     background: #fff;
//     padding: 20px 0;
//     box-shadow: $shadow !important;
//   }
// }

main {
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba($color: #000000, $alpha: 0.25) !important;
  min-height: calc(100vh - 61px);
  overflow-y: auto;
  border-radius: 35px 35px 0px 0px;
  .container {
    padding: 20px;
    .heading {
      h1 {
        font-weight: 500;
        text-align: center;
        font-size: 26px !important;
        color: #000B22;
      }
    }
  }
}