<mat-drawer-container class="main-container" autosize>
  <mat-drawer class="sidenav-container" #drawer mode="side">
    <button
      class="side-nav"
      *ngFor="let item of sidenavArray"
      type="button"
      mat-stroked-button
      [routerLink]="[item.routerLink]"
      (click)="drawer.close()"
    >
      <span style="font-size: medium">{{ item.name }}</span>
    </button>
  </mat-drawer>

  <div>
    <button type="button" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
