@import 'variables.scss';

.mat-card {
  border-radius: 16px !important;
  box-shadow: $shadow;
  &.background {
    min-height: 100vh;
    background: transparent;
    box-shadow: none !important;
  }
}

.mat-form-field {
  border-radius: 1.25rem;
  width: 100%;

  &.fill {
    .mat-form-field-flex {
      height: unset !important;
    }
    textarea {
      padding: .625rem .25rem !important;
    }
  }

  mat-hint {
    margin-top: 15px;
  }
  
  &-appearance-fill {
    border-radius: 1.25rem !important;
  }
  &-flex {
    padding: 0 1rem !important;
    background-color: rgba($color: #812FF7, $alpha: .04) !important;
    border-radius: 1.25rem !important;
    color: #727897;
    transition: all 0.3s !important;
    align-items: center !important;
    height: 45px !important;
    
  }
  &-infix {
    padding-bottom: .65625rem !important;
    padding-top: .65625rem !important;
    border-top: none;
  }
  &-wrapper {
    padding-bottom: 0 !important;
    margin: 0 !important;
  }
  &-underline {
    display: none;
  }
  &-prefix {
    margin-right: .5rem;
  }
}

.mat-expansion-panel {
  border-radius: 16px !important;
  box-shadow: $shadow;
  &-body {
    padding: 0 10px 10px !important;
  }
}

.mat-raised-button, .mat-flat-button, button:disabled {
  height: 45px;
  border-radius: 30px !important;
  font-size: 16px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.mat-dialog-container {
  border-radius: 30px !important;
}