@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,200;1,300;1,400&display=swap');
@import '~@angular/material/theming';
@import 'variables.scss';
@include mat-core();

$poppins: 'Poppins', sans-serif;

$mat-primary: (
  700: $primary-color,
  contrast: (
    700: $light-primary-text,
  ),
);
$mat-accent: (
  700: $success-color,
  contrast: (
    700: $light-primary-text,
  ),
);
$mat-warn: (
  700: $warn-color,
  contrast: (
    700: $light-primary-text,
  ),
);
$custom-typography: mat-typography-config(
  $font-family: $poppins,
);

@include mat-core();
$custom-primary: mat-palette($mat-primary, 700);
$custom-accent: mat-palette($mat-accent, 700);
$custom-warn: mat-palette($mat-warn, 700);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);
@include angular-material-typography($custom-typography);