$gradient-primary: linear-gradient(90deg, rgba(129,47,247,1) 0%, rgba(93,47,247,1) 35%, rgba(202,0,227,1) 100%);
$primary-color: #812FF7;
$accent-color: #5D2FF7;
$success-color: #00E38C;
$warn-color: #F72B3E;
$white-color: #fff;
$background-color: #F7F7FA;
$yellow: #FF9401;

$inactive-primary: #CAC1D6;

$btn-color: rgba(129, 47, 247, 0.1);
$accent-btn-color: rgba(93, 47, 247, 0.1);
$success-btn: rgba(0, 227, 140, 0.1);
$warn-btn: rgba(247, 43, 62, 0.1);

$border-color: #C5C9D7;
$header-color: #11193C;
$text-color: #8990AD;
$title-color: #0B2257;
$text1: #BDC9F9;
$header2: #000B22;


/* Shadow */

$shadow: rgba(17, 17, 17, 0.07) 0 1px 3px;
$hover-shadow: rgba(17, 17, 17, 0.15) 0 2px 24px;
$border-radius: 30px;
