<form *ngIf="!msgSendFlag" fxLayout="column" fxLayoutGap="25px">
  <div class="heading">
    <h2>Sent Messages</h2>
  </div>
  <mat-form-field appearance="fill" class="fill">
    <textarea
      matInput
      placeholder="Type your messages"
      [(ngModel)]="msg"
      [ngModelOptions]="{ standalone: true }"
      #name
    ></textarea>
    <mat-hint>your username is anynomous to him/her</mat-hint>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="sentMessage(name.value)"
  >
    Submit
  </button>
</form>
<!-- After Successfully message send -->
<div *ngIf="msgSendFlag" class="wrapper">
  <div class="modal modal--congratulations">
    <div class="modal-top">
      <img
        class="modal-icon u-imgResponsive"
        src="https://dl.dropboxusercontent.com/s/e1t2hhowjcrs7f5/100daysui_100icon.png"
        alt="Trophy"
      />
      <div class="modal-header">Congratulations</div>
      <div class="modal-subheader">You have Successfully send message.</div>
    </div>
    <div class="modal-bottom">
      <button
        class="modal-btn u-btn u-btn--success"
        [routerLink]="['/secret-message/create']"
      >
        Create Your Link
      </button>
    </div>
  </div>
</div>
<!-- <p>Let's make this games for you <a>here</a></p> -->
