<form *ngIf="!msgSendFlag" fxLayout="column" fxLayoutGap="25px">
  <div class="heading">
    <h2>Sent Messages</h2>
  </div>
  <mat-form-field appearance="fill" class="fill">
    <textarea
      matInput
      placeholder="Type your messages"
      [(ngModel)]="msg"
      [ngModelOptions]="{ standalone: true }"
      #name
    ></textarea>
    <mat-hint>your username is anynomous to him/her</mat-hint>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="sentMessage(name.value)"
  >
    Submit
  </button>
</form>
<!-- After Successfully message send -->
<div *ngIf="msgSendFlag">Successfully Message Send</div>
<!-- <p>Let's make this games for you <a>here</a></p> -->
