.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  // background-size: cover;
}

::ng-deep .avatar {
  box-shadow: none !important;
  .mat-card {
    &-avatar {
      width: 60px !important;
      height: 60px !important;
    }

    &-title {
      margin-bottom: none !important;
    }
  
    &-header-text {
      padding: 10px 0 !important;
    }
  }
}

.circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  .initials {
    color: #fff;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.2625px;
  }
}