.box {
  color: white;
  text-decoration: none;
  padding: 16px;
  border-radius: 16px;

  img {
    max-width: 40px;
    max-height: 40px;
  }
}

.mat-flat-button {
  border-radius: 20px;
  height: 40px;
}