<form fxLayout="column" fxLayoutGap="20px">
  <mat-form-field appearance="fill">
    <!-- <mat-label>User Name</mat-label> (keyup)="keyUp.next($event)"-->
    <input
      matInput
      placeholder="Enter your name"
      (input)="searchChange($event, true)"
      [(ngModel)]="userName"
      [ngModelOptions]="{ standalone: true }"
      #name
    />
    <mat-hint *ngIf="!availableFlag">You have already an user</mat-hint>
  </mat-form-field>
  <mat-form-field *ngIf="!availableFlag" appearance="fill">
    <!-- <mat-label>User Name</mat-label> -->
    <input
      matInput
      placeholder="Pin"
      [(ngModel)]="pin"
      [ngModelOptions]="{ standalone: true }"
      #name
    />
    <mat-hint> Enter Your pin to login</mat-hint>
  </mat-form-field>
  <mat-checkbox class="example-margin" [(ngModel)]="privacyPolicy" [ngModelOptions]="{ standalone: true }" (change)="openPrivacyPolicy($event)">Accept our privacy & policy</mat-checkbox>  
  <button
    mat-raised-button
    [disabled]="isButtonDisabled"
    color="primary"
    type="submit"
    (click)="createAccount(availableFlag)"
  >
    {{ !availableFlag ? "Login" : "Signup" }}
  </button>
</form>
