@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hachi+Maru+Pop&family=Pacifico&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');

.msg {
  display: flex;
  align-items: center;
  place-content: center;
  // background-color: radial-gradient(100% 967.27% at 0% 0%, #812FF7 0%, #01F2F2 100%);
  background-color: violet;
  color: #fff;
  // padding: auto;
  min-height: 500px;
  // height: 100vh;
  // width: 100vw;
  text-align: center;
  min-width: 250px;
  // width: 100%;
  font-family: 'Dancing Script', cursive;
}