.msg-block {
  margin-top: 20px;
  .msg-list {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 0px rgba($color: #434141, $alpha: 0.15) !important;
    color: #11193C;
    font-size: 16px;
    span {
      font-size: 12px;
      color: #0B2257;
    }
    i:before {
      font-size: 30px;
    }
  }
}


.msg-list + .msg-list {
  margin-top: 10px;
}


.no-msg {
  padding: 20px;
  text-align: center;
}
.floating-btn {
  button {
    z-index: 99;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}
